body {
  background-color: rgb(81, 98, 121);
}

#header {
  font-family: helvetica;
}

#intro {
  text-align: justify;
  font-family: helvetica;
  line-height: 30px;
}

.form-group {
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 20px;
  background-color: #eee;
  font-family: helvetica;
}

.question-title {
  font-size: 20px;
}

.btn {
  margin-bottom: 30px;
}

.results {
  border: 2px solid #eee;
  padding: 20px;
  border-radius: 5px;
  font-family: helvetica;
  background-color: #eee;
  margin-bottom: 20px;
}